<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.official.dao.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.official.bean.Article" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
      <result column="subTitle" property="subTitle" jdbcType="VARCHAR"/>
    <result column="columnId" property="columnid" jdbcType="INTEGER" />
    <result column="isStick" property="isstick" jdbcType="INTEGER" />
    <result column="linkType" property="linktype" jdbcType="INTEGER" />
    <result column="linkUrl" property="linkurl" jdbcType="VARCHAR" />
    <result column="interception" property="interception" jdbcType="VARCHAR" />
    <result column="contentSource" property="contentsource" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="clicks" property="clicks" jdbcType="INTEGER" />
    <result column="pubTimeType" property="pubtimetype" jdbcType="INTEGER" />
    <result column="pubTime" property="pubtime" jdbcType="TIMESTAMP" />
    <result column="expiredTimeType" property="expiredtimetype" jdbcType="INTEGER" />
    <result column="expiredTime" property="expiredtime" jdbcType="TIMESTAMP" />
    <result column="navPicturePath" property="navpicturepath" jdbcType="VARCHAR" />
    <result column="attachmentPath" property="attachmentpath" jdbcType="VARCHAR" />
    <result column="orderPriority" property="orderpriority" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
     <result column="createdTime" property="createdTime" jdbcType="TIMESTAMP" />
     <result column="modifiedTime" property="modifiedTime" jdbcType="TIMESTAMP" />
     <result column="userId" property="userId" jdbcType="INTEGER" />

  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.official.bean.Article" >
    insert into t_article (title,subTitle,columnId,
      isStick, linkType, linkUrl, 
      interception, contentSource, status, 
      clicks, pubTimeType, pubTime, 
      expiredTimeType, expiredTime, navPicturePath, 
      attachmentPath, orderPriority, content,createdTime,modifiedTime,userId
      )
    values (#{title,jdbcType=VARCHAR},#{subTitle,jdbcType=VARCHAR}, #{columnid,jdbcType=INTEGER},
      #{isstick,jdbcType=INTEGER}, #{linktype,jdbcType=INTEGER}, #{linkurl,jdbcType=VARCHAR}, 
      #{interception,jdbcType=VARCHAR}, #{contentsource,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{clicks,jdbcType=INTEGER}, #{pubtimetype,jdbcType=INTEGER}, #{pubtime}, 
      #{expiredtimetype,jdbcType=INTEGER}, #{expiredtime}, #{navpicturepath,jdbcType=VARCHAR}, 
      #{attachmentpath,jdbcType=VARCHAR}, #{orderpriority,jdbcType=INTEGER}, #{content},
      #{createdTime},#{modifiedTime},#{userId,jdbcType=INTEGER}
      )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.official.bean.Article" >
    update t_article
    set title = #{title,jdbcType=VARCHAR},
       subTitle = #{subTitle,jdbcType=VARCHAR},
      columnId = #{columnid,jdbcType=INTEGER},
      isStick = #{isstick,jdbcType=INTEGER},
      linkType = #{linktype,jdbcType=INTEGER},
      linkUrl = #{linkurl,jdbcType=VARCHAR},
      interception = #{interception,jdbcType=VARCHAR},
      contentSource = #{contentsource,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      clicks = #{clicks,jdbcType=INTEGER},
      pubTimeType = #{pubtimetype,jdbcType=INTEGER},
      pubTime = #{pubtime},
      expiredTimeType = #{expiredtimetype,jdbcType=INTEGER},
      expiredTime = #{expiredtime},
      navPicturePath = #{navpicturepath,jdbcType=VARCHAR},
      attachmentPath = #{attachmentpath,jdbcType=VARCHAR},
      orderPriority = #{orderpriority,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR},
      createdTime=#{createdTime},
      modifiedTime=#{modifiedTime},
      userId=#{userId}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
   <update id="articleStick" parameterType="com.official.bean.Article" >
    update t_article
    set title = #{title,jdbcType=VARCHAR},
      subTitle = #{subTitle,jdbcType=VARCHAR},
      columnId = #{columnid,jdbcType=INTEGER},
      isStick = #{isstick,jdbcType=INTEGER},
      linkType = #{linktype,jdbcType=INTEGER},
      linkUrl = #{linkurl,jdbcType=VARCHAR},
      interception = #{interception,jdbcType=VARCHAR},
      contentSource = #{contentsource,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      clicks = #{clicks,jdbcType=INTEGER},
      pubTimeType = #{pubtimetype,jdbcType=INTEGER},
      pubTime = #{pubtime},
      expiredTimeType = #{expiredtimetype,jdbcType=INTEGER},
      expiredTime = #{expiredtime},
      navPicturePath = #{navpicturepath,jdbcType=VARCHAR},
      attachmentPath = #{attachmentpath,jdbcType=VARCHAR},
      orderPriority = #{orderpriority,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR},
      createdTime=#{createdTime},
      modifiedTime=#{modifiedTime},
      userId=#{userId}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="previewPubnish" parameterType="com.official.bean.Article" >
    update t_article
    set title = #{title,jdbcType=VARCHAR},
       subTitle = #{subTitle,jdbcType=VARCHAR},
      columnId = #{columnid,jdbcType=INTEGER},
      isStick = #{isstick,jdbcType=INTEGER},
      linkType = #{linktype,jdbcType=INTEGER},
      linkUrl = #{linkurl,jdbcType=VARCHAR},
      interception = #{interception,jdbcType=VARCHAR},
      contentSource = #{contentsource,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      clicks = #{clicks,jdbcType=INTEGER},
      pubTimeType = #{pubtimetype,jdbcType=INTEGER},
      pubTime = #{pubtime},
      expiredTimeType = #{expiredtimetype,jdbcType=INTEGER},
      expiredTime = #{expiredtime},
      navPicturePath = #{navpicturepath,jdbcType=VARCHAR},
      attachmentPath = #{attachmentpath,jdbcType=VARCHAR},
      orderPriority = #{orderpriority,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR},
      createdTime=#{createdTime},
      modifiedTime=#{modifiedTime},
      userId=#{userId}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, title,subTitle,columnId, isStick, linkType, linkUrl, interception, contentSource,
    status, clicks, pubTimeType, pubTime, expiredTimeType, expiredTime, navPicturePath, 
    attachmentPath, orderPriority, content,createdTime,modifiedTime,userId
    from t_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultType="com.official.bean.dto.ArticleDto" >
    select a.id, a.title,a.subTitle,c.columnName,a.columnId,u.userName,a.userId,a.isStick, a.linkType, a.linkUrl, a.interception, a.contentSource,
    a.status, a.clicks, a.pubTimeType, a.pubTime, a.expiredTimeType, a.expiredTime, a.navPicturePath, 
    a.attachmentPath, a.orderPriority, a.content,a.createdTime,a.modifiedTime
    from t_article as a 
    left join t_column as c on a.columnId=c.id
    left join t_user as u on u.id=a.userId
   order by a.orderPriority, a.pubTime desc
  </select>
  
  
  <select id="getArticleListScience" resultType="com.official.bean.dto.ArticleDto" >
    select a.id, a.title,a.subTitle, c.columnName,a.columnId,u.userName,a.userId,a.isStick, a.linkType, a.linkUrl, a.interception, a.contentSource,
    a.status, a.clicks, a.pubTimeType, a.pubTime, a.expiredTimeType, a.expiredTime, a.navPicturePath, 
    a.attachmentPath, a.orderPriority, a.content,a.createdTime,a.modifiedTime
    from t_article as a 
    left join t_column as c on a.columnId=c.id
    left join t_user as u on u.id=a.userId
    where a.status =1 
   order by a.orderPriority, a.pubTime desc
  </select>
  
  
  <select id="selectArticleSlide" resultType="com.official.bean.dto.ArticleDto" parameterType="java.lang.Integer">
    select  a.id, a.title,a.subTitle,c.columnName,a.columnId,u.userName,a.userId,a.isStick, a.linkType, a.linkUrl, a.interception, a.contentSource,
    a.status, a.clicks, a.pubTimeType, a.pubTime, a.expiredTimeType, a.expiredTime, a.navPicturePath, 
    a.attachmentPath, a.orderPriority, a.content,a.createdTime,a.modifiedTime
    from t_article as a 
    left join t_column as c on a.columnId=c.id
     where a.columnId = #{id} and a.navPicturePath &lt;&gt;"" and a.status=1
      order by a.pubTime desc LIMIT 0,4
  </select>
  
  
  <select id="fuzzySearch" resultType="com.official.bean.dto.ArticleDto" parameterType="java.lang.String">
  select a.id, a.title,a.subTitle,c.columnName,a.columnId,u.userName,a.userId,a.isStick, a.linkType, a.linkUrl, a.interception, a.contentSource,
    a.status, a.clicks, a.pubTimeType, a.pubTime, a.expiredTimeType, a.expiredTime, a.navPicturePath, 
    a.attachmentPath, a.orderPriority, a.content,a.createdTime,a.modifiedTime
    from t_article as a 
    left join t_column as c on a.columnId=c.id
    left join t_user as u on u.id=a.userId
    <where>
      1=1
    <if test='startTime!="" and endTime!="" and keyword!="" '>
      AND a.pubTime BETWEEN #{startTime} and #{endTime} and (a.title like concat(concat('%',#{keyword},'%')) OR a.content LIKE concat(concat('%',#{keyword},'%')))
    </if>
    
    <if test='startTime!="" and endTime!="" and keyword=="" '>
      AND  a.pubTime BETWEEN #{startTime} and #{endTime}
    </if>
    
    <if test='startTime=="" and endTime=="" and keyword!="" '>
      AND a.title like concat(concat('%',#{keyword},'%')) OR a.content LIKE concat(concat('%',#{keyword},'%'))
    </if>
    
    <if test='startTime!="" and endTime=="" and keyword!="" '>
      AND a.pubTime BETWEEN #{startTime} and '2099-09-01 00:00:00' and (a.title like concat(concat('%',#{keyword},'%')) OR a.content LIKE concat(concat('%',#{keyword},'%')))
    </if>
    
    <if test='startTime=="" and endTime!="" and keyword!="" '>
      AND a.pubTime BETWEEN '1990-09-01 00:00:00' and #{endTime} and  (a.title like concat(concat('%',#{keyword},'%')) OR a.content LIKE concat(concat('%',#{keyword},'%')))
    </if>

    
    <if test='startTime!="" and endTime==""  and keyword=="" '>
      AND a.pubTime BETWEEN #{startTime} and '2099-09-01 00:00:00'
    </if>
    
    <if test='startTime=="" and endTime!=""  and keyword=="" '>
      AND a.pubTime BETWEEN '1990-09-01 00:00:00' and #{endTime}
    </if>
      <if test="status!=null">
          AND status = #{status}
      </if>
    </where>
    order by a.orderPriority, a.pubTime desc
  </select>

  <select id="selectByParentId" resultType="com.official.bean.dto.ArticleDto" parameterType="java.lang.Integer">
  select a.id, a.title,a.subTitle,c.columnName,a.columnId,u.userName,a.userId,a.isStick, a.linkType, a.linkUrl, a.interception, a.contentSource,
    a.status, a.clicks, a.pubTimeType, a.pubTime, a.expiredTimeType, a.expiredTime, a.navPicturePath, 
    a.attachmentPath, a.orderPriority, a.content,a.createdTime,a.modifiedTime
    from t_article as a 
    left join t_column as c on a.columnId=c.id
    left join t_user as u on u.id=a.userId 
   <where>
      <if test="id==0">
          1=1
       </if>
      
      <!-- id=!0 并且 父栏目id=0 并且子栏目下没有子栏目时-->
      <if test="id!=0 and parentId==0">
          a.columnId in (select id from t_column where parent_id = #{id})
       </if>
       
        <!-- id=!0 并且 父栏目id=0 并且子栏目下没有子栏目时-->
      <if test="id!=0 and parentId==1">
          a.columnId in ((select id from t_column where parent_id in (select id from t_column where parent_id =#{id})))
       </if>
       
      <if test=" id!=0 and parentId==2">
          a.columnId = #{id}
       </if>
       
   </where>
    order by a.orderPriority,a.pubTime desc
  </select>
  
  
  
   <select id="selectByParentIdScience" resultType="com.official.bean.dto.ArticleDto" parameterType="java.lang.Integer">
  select a.id, a.title,a.subTitle,c.columnName,a.columnId,u.userName,a.userId,a.isStick, a.linkType, a.linkUrl, a.interception, a.contentSource,
    a.status, a.clicks, a.pubTimeType, a.pubTime, a.expiredTimeType, a.expiredTime, a.navPicturePath, 
    a.attachmentPath, a.orderPriority, a.content,a.createdTime,a.modifiedTime
    from t_article as a 
    left join t_column as c on a.columnId=c.id
    left join t_user as u on u.id=a.userId 
   where  a.status =1
      <if test="id==0">
          and 1=1
       </if>
      
      <!-- id=!0 并且 父栏目id=0 并且子栏目下没有子栏目时-->
      <if test="id!=0 and parentId==0">
           and a.columnId in (select id from t_column where parent_id = #{id}) 
       </if>
       
        <!-- id=!0 并且 父栏目id=0 并且子栏目下没有子栏目时-->
      <if test="id!=0 and parentId==1">
          and  a.columnId in ((select id from t_column where parent_id in (select id from t_column where parent_id =#{id})))
       </if>
       
      <if test=" id!=0 and parentId==2">
        and   a.columnId = #{id}
       </if>

    order by a.orderPriority,a.pubTime desc
  </select>

  <!-- 根据栏目查找文章 -->
<select id="selectByColumnId" resultType="com.official.bean.dto.ArticleDto" parameterType="java.lang.Integer">
  select a.id, a.title,a.subTitle,c.columnName,a.columnId,u.userName,a.userId,a.isStick, a.linkType, a.linkUrl, a.interception, a.contentSource,
  a.status, a.clicks, a.pubTimeType, a.pubTime, a.expiredTimeType, a.expiredTime, a.navPicturePath,
  a.attachmentPath, a.orderPriority, a.content,a.createdTime,a.modifiedTime
  from t_article as a
  left join t_column as c on a.columnId=c.id
  left join t_user as u on u.id=a.userId
  where  a.status =1
  AND a.columnId = #{columnId}
  order by a.orderPriority asc,a.pubTime desc
</select>


</mapper>