html{
	height: 100%;
}
body{
	position: relative;
	overflow-x: hidden;
	margin: 0;
	-webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
}

.banner{
	width: 100%;
}
a:hover{
	text-decoration: none;
}
 html{
	 margin: 0;
	 font-size: 62.5%;
}
p{
	max-width: 100%;
}
ul{
	max-width: 100%;
}
#treeview-selectable a{
	display: inline;
	height: 42px;
	line-height: 35px;
	white-space: normal;
}
#treeview-selectable li{
	padding: 0 5px;
}