<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
		<META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
		<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
		<META HTTP-EQUIV="expires" CONTENT="0">
		<title>苏研院官网</title>
		<link rel="stylesheet" type="text/css" href="../assets/layui/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../assets/bootstrap-treeview/bootstrap-treeview.css"/>
		<script type="text/javascript">
			document.write('<link rel="stylesheet" type="text/css" href="../css/article-template.css?v='+Math.random()+'"/>');
			document.write('<link rel="stylesheet" type="text/css" href="../css/common/common.css?v='+Math.random()+'"/>');
		</script>
	</head>
	<body>
		<header id="hd"></header>
		<!-- banner -->
		<!-- <div id="banner">
			<img class="banner" src="" >
		</div> -->
		
		<nav id='secondnavs'></nav>
		
		<div id="path-nav"></div>
		<div id="main-container" class="container-fluid">
			<div class="row">
				<div id="left-part" class="hidden-xs col-md-2">
					<div id="treeview-selectable"></div>
				</div>
				<div style="margin-bottom: 30px;" class="col-md-10">
					<!-- <h3 id="column-title"></h3> -->
					<div id="content-list">
						<div class="list-group">
						</div>
					</div>
					<!-- 分页 -->
					<div id="page"></div>
				</div>
			</div>
		</div>
	
		<div id="ft"></div>
	</body>
	
	<script src="../assets/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../assets/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
	<script src="../assets/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script src="../assets/bootstrap-treeview/bootstrap-treeview.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		document.write('<script src="../js/common/base.js?v='+new Date().getTime()+'" type="text/javascript" charset="utf-8"><\/script>');
		document.write('<script src="../js/common/common_method.js?v='+new Date().getTime()+'" type="text/javascript" charset="utf-8"><\/script>')
		document.write('<script src="../js/common/article.js?v='+new Date().getTime()+'" type="text/javascript" charset="utf-8"><\/script>');
		document.write('<script src="../js/common/column.js?v='+new Date().getTime()+'" type="text/javascript" charset="utf-8"><\/script>');
		document.write('<script src="../js/util/util.js?v='+new Date().getTime()+'" type="text/javascript" charset="utf-8"><\/script>');
		document.write('<script src="../js/article-list-template.js?v='+new Date().getTime()+'" type="text/javascript" charset="utf-8"><\/script>');
		document.write('<script src="../js/common/tree.js?v='+new Date().getTime()+'" type="text/javascript" charset="utf-8"><\/script>');
		document.write('<script src="../js/common/load-component.js?v='+new Date().getTime()+'" type="text/javascript" charset="utf-8"><\/script>');
		
	</script>
</html>
